$("#files_and_folders_dialog").html("<h4><%= escape_javascript(t('audiobox_view.new_folder')) %></h4>").append('<%= escape_javascript(render ("form")) %>');
<%= render(:partial => 'shared/focus_edit') %>