@charset "utf-8";
/* CSS Document */

.fil-ariadna span.breadcrumb {
	color: #333;
}
#files_and_folders .arbol_section li.titol {
	background-color: #002782;
}
#files_and_folders .arbol_section li.titol a {
	color: #fff;
}
.contingut div.mostra section ul ul.subllista {
	border: 2px solid #333;
}
.contingut div.mostra .titol h1 {
	background-color: #003CC8;
}
.contingut div.mostra .titol a.boto {
  border: 1px solid #fff;
  }
.destacat p.explain_big {
color: #FFF;
}