$("#files_and_folders_dialog").html("<h4><%= escape_javascript(t('audiobox_view.rename_coment')) %></h4>").append('<%= escape_javascript(render ("form_edit")) %>');
<%= render(:partial => 'shared/focus_edit') %>