$("#files_and_folders_dialog").html("<h4><%= escape_javascript(t('audiobox_view.comentari')) %></h4>").append('<%= escape_javascript(render ("show")) %>');
<%= render(:partial => 'shared/focus_edit') %>