$("#files_and_folders_dialog").html("<h4><%= escape_javascript(t('audiobox_view.uploadFile')) %></h4>").append('<%= escape_javascript(render ("new_clasic")) %>');
<%= render(:partial => 'shared/focus_edit') %>